<div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-md-8 col-lg-6 col-xl-6 col-xxl-6">
        <h5>Привет! Исходя из заявленной тобой специализации и уровня мы собрали 
            рекомендации которые помогут тебе быстрее вырасти по уровню знаний и зарплате))
        </h5>

        <table class="table table-hover" *ngIf="(recomendations?.length ?? 0) > 0">
            <thead>
                <tr>
                    <th scope="col">Автор</th>
                    <th scope="col">Название</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recomendation of recomendations">
                    <td>{{recomendation.author}}</td>
                    <td>{{recomendation.title}}</td>
                </tr>
            </tbody>
        </table>

        <h6>Как джуниору стать миддлом? Читай, смотри, расти 😉</h6>

        <h6>Если хочешь узнать рекомендации для другого уровня - просто поменяй при заполнении данные))</h6>
    </div>
</div>
